body{
    height:100vh;
    position: relative;
}


p {
    font-size: 2.5vw;
}
.display{
    background-color: darkgray;
    position:absolute;
    padding: 15px;
    height: 100%;
    width: 100%;
    font-size:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}


button{
    padding: 10px;
    width:5vw;
    height: 9vh;
    margin-top: 10px;
    background-color: rgb(194, 194, 194);
    color: black;
    font-size: 2vw;
}


